Repository ServiceWeaver/weaver, pull requests merged in 2023-04, with the labels that each got.

#217 Removed requirement that ids are RFC 4122 UUIDs.
  godeps.txt
  runtime/deployment.go
  runtime/protos/runtime.pb.go
  runtime/protos/runtime.proto
  runtime/weavelet.go
Labels: deployer-api

#219 Added prototype versioning system.
  godeps.txt
  internal/envelope/conn/weavelet_conn.go
  internal/tool/multi/deployer.go
  internal/tool/ssh/impl/babysitter.go
  runtime/protos/runtime.pb.go
  runtime/protos/runtime.proto
  runtime/version.go
Labels: deployer-api, deployer-api-versioning

#162 Wrote "How to Implement a Deployer" blog.
  dev/docgen/docgen.go
  godeps.txt
  website/assets/css/blog.css
  website/blog/deployers.md
  website/blog/deployers/.gitignore
  website/blog/deployers/assets/overview.svg
  website/blog/deployers/assets/weavelets.svg
  website/blog/deployers/multi/main.go
  website/blog/deployers/pipes/main.go
  website/blog/deployers/single/main.go
  website/blog/index.html
  website/blog/quick_intro.md
Labels: deployer-api, blog

#225 Added deployers blog to news.
  website/news.md
Labels: website, blog

#227 Made purge kill processes as well.
  godeps.txt
  internal/tool/multi/multi.go
  internal/tool/single/single.go
  runtime/tool/purge.go
Labels: tool

#228 Moved "weaver version" into subcommands.
  cmd/weaver/main.go
  godeps.txt
  internal/tool/multi/multi.go
  internal/tool/single/single.go
  internal/tool/ssh/ssh.go
  runtime/tool/version.go
Labels: tool, deployer-api-versioning

#235 Added example wrap application, which wraps text.
  examples/wrap/.gitignore
  examples/wrap/README.md
  examples/wrap/index.html
  examples/wrap/main.go
  examples/wrap/style.css
  examples/wrap/weaver.toml
  examples/wrap/weaver_gen.go
  examples/wrap/wrap.go
  examples/wrap/wrap.js
  godeps.txt
Labels: examples

#236 Allow the user to change line length in wrap app.
  examples/wrap/index.html
  examples/wrap/main.go
  examples/wrap/style.css
  examples/wrap/wrap.js
  godeps.txt
Labels: examples

#245 Fixed "weaver metrics" histogram average bug.
  internal/status/metrics.go
Labels: tool

#246 Updated metrics package documentation.
  metrics/doc.go
  metrics/metrics.go
  website/blog/quick_intro.md
  website/docs.md
  website/index.html
Labels: documentation

#252 Added reverser example app, derived from wrap.
  examples/reverser/.gitignore
  examples/reverser/README.md
  examples/reverser/index.html
  examples/reverser/main.go
  examples/reverser/reverser.go
  examples/reverser/weaver.toml
  examples/reverser/weaver_gen.go
  godeps.txt
Labels: examples

#251 Added basic telemetry to wrap app.
  examples/wrap/main.go
  examples/wrap/wrap.go
  godeps.txt
Labels: examples

#253 news about SW at Kubecon
  website/news.md
Labels: website

#255 Added CORBA blog.
  dev/docgen/docgen.go
  website/blog/corba.md
  website/blog/index.html
Labels: blog

#260 Delete perfetto.db files on weaver purge
  godeps.txt
  internal/status/dashboard.go
  internal/tool/multi/deployer.go
  internal/tool/multi/multi.go
  internal/tool/single/single.go
  internal/tool/ssh/dashboard.go
  internal/tool/ssh/impl/manager.go
  runtime/perfetto/db.go
  singleprocess.go
Labels: tool

#261 Make `weaver generate` resilient to malformed weaver_gen.go files
  examples/chat/weaver_gen.go
  examples/collatz/weaver_gen.go
  examples/factors/weaver_gen.go
  examples/hello/weaver_gen.go
  examples/onlineboutique/adservice/weaver_gen.go
  examples/onlineboutique/cartservice/weaver_gen.go
  examples/onlineboutique/checkoutservice/weaver_gen.go
  examples/onlineboutique/currencyservice/weaver_gen.go
  examples/onlineboutique/emailservice/weaver_gen.go
  examples/onlineboutique/paymentservice/weaver_gen.go
  examples/onlineboutique/productcatalogservice/weaver_gen.go
  examples/onlineboutique/recommendationservice/weaver_gen.go
  examples/onlineboutique/shippingservice/weaver_gen.go
  examples/onlineboutique/types/money/weaver_gen.go
  examples/onlineboutique/types/weaver_gen.go
  examples/reverser/weaver_gen.go
  examples/wrap/weaver_gen.go
  internal/benchmarks/weaver_gen.go
  internal/tool/generate/generator.go
  weavertest/internal/deploy/weaver_gen.go
  weavertest/internal/diverge/weaver_gen.go
  weavertest/internal/generate/weaver_gen.go
  weavertest/internal/protos/weaver_gen.go
  weavertest/internal/simple/weaver_gen.go
Labels: tool

#266 Generator Cleanups
  cmd/weaver/main.go
  examples/chat/weaver_gen.go
  godeps.txt
  internal/tool/generate/generator.go
  internal/tool/generate/testdata/errors/extra_routing_function.go
  internal/tool/generate/types.go
Labels: tool

#268 Prettified News page on website.
  dev/docgen/docgen.go
  website/assets/css/news.css
  website/news.html
  website/news.md
  website/templates/news.html
Labels: website

#269 Added Warsaw Cloud Developer Day to news.
  website/news.html
Labels: website

#267 Added CORBA blog post to News page on website.
  website/news.html
Labels: website

#271 Disallow unexported component interface methods.
  internal/tool/generate/generator.go
  internal/tool/generate/testdata/errors/missing_methods.go
  internal/tool/generate/testdata/errors/unexported_method.go
Labels: bug, tool

#272 Allow empty component interfaces.
  internal/tool/generate/generator.go
  internal/tool/generate/testdata/missing_methods.go
Labels: tool

#277 Fixed duplicate healthz registration in hello app.
  examples/hello/main.go
Labels: bug

#279 Fixed annoying website wiggles.
  website/assets/css/common.css
Labels: website

#280 Deleted wrap app (obsoleted by reverser app).
  examples/wrap/.gitignore
  examples/wrap/README.md
  examples/wrap/index.html
  examples/wrap/main.go
  examples/wrap/style.css
  examples/wrap/weaver.toml
  examples/wrap/weaver_gen.go
  examples/wrap/wrap.go
  examples/wrap/wrap.js
  godeps.txt
Labels: examples

#283 Improved status registry errors + input handling.
  internal/status/registry.go
Labels: tool

#274 Elaborated on CORBA failure in blog.
  website/blog/corba.md
Labels: blog

#273 Simplified weaver generate's component type.
  examples/chat/weaver_gen.go
  examples/hello/weaver_gen.go
  examples/onlineboutique/cartservice/weaver_gen.go
  examples/onlineboutique/currencyservice/weaver_gen.go
  examples/onlineboutique/productcatalogservice/weaver_gen.go
  internal/tool/generate/generator.go
  internal/tool/generate/testdata/errors/router_not_a_named_type.go
  weavertest/internal/simple/weaver_gen.go
Labels: tool

#296 Fixed `weaver multi` and `weaver ssh` main bug.
  internal/tool/multi/deployer.go
  internal/tool/ssh/impl/manager.go
  runtime/weavelet.go
Labels: bug

#299 add discord link to the main page
  dev/docgen/docgen.go
  website/assets/images/discord_icon.svg
  website/templates/header.html
Labels: website

#292 Added `weaver generate` warning for mistyped Init.
  godeps.txt
  internal/tool/generate/generator.go
  internal/tool/generate/testdata/mistyped_init.go
Labels: tool

#294 Added inline heading links to website docs.
  website/assets/css/docs.css
  website/assets/js/toc.js
Labels: website

#297 Added missing "err" attribute to slog.Error calls.
  weavelet.go
Labels: bug
