Repository ServiceWeaver/weaver, pull requests merged in 2023-05, with the labels that each got.

#314 Moved logs back to /tmp/serviceweaver.
  internal/tool/multi/multi.go
  internal/tool/ssh/impl/manager.go
  runtime/dir.go
Labels: tool

#322 Embed deployer API version in binary.
  godeps.txt
  internal/envelope/conn/weavelet_conn.go
  internal/tool/multi/deployer.go
  internal/tool/ssh/impl/babysitter.go
  runtime/bin/bin.go
  runtime/tool/version.go
  runtime/version/testprogram/main.go
  runtime/version/testprogram/weaver_gen.go
  runtime/version/version.go
  runtime/version/version_test.go
Labels: deployer-api

#330 Made weavertest respect the -test.v flag.
  godeps.txt
  internal/net/benchmarks/net_test.go
  internal/net/call/call_test.go
  runtime/bootstrap.go
  runtime/logging/logger.go
  runtime/logging/logger_test.go
  singleprocess.go
  weavertest/deployer.go
  weavertest/init.go
  weavertest/multi.go
  weavertest/single.go
Labels: bug

#337 Added component-related "weaver generate" checks.
  component.go
  examples/chat/weaver_gen.go
  examples/collatz/weaver_gen.go
  examples/factors/weaver_gen.go
  examples/hello/weaver_gen.go
  examples/onlineboutique/adservice/weaver_gen.go
  examples/onlineboutique/cartservice/weaver_gen.go
  examples/onlineboutique/checkoutservice/weaver_gen.go
  examples/onlineboutique/currencyservice/weaver_gen.go
  examples/onlineboutique/emailservice/weaver_gen.go
  examples/onlineboutique/frontend/weaver_gen.go
  examples/onlineboutique/paymentservice/weaver_gen.go
  examples/onlineboutique/productcatalogservice/weaver_gen.go
  examples/onlineboutique/recommendationservice/weaver_gen.go
  examples/onlineboutique/shippingservice/weaver_gen.go
  examples/onlineboutique/types/money/weaver_gen.go
  examples/onlineboutique/types/weaver_gen.go
  examples/reverser/weaver_gen.go
  internal/benchmarks/weaver_gen.go
  internal/tool/generate/generator.go
  runtime/bin/testprogram/weaver_gen.go
  runtime/version/testprogram/weaver_gen.go
  weaver.go
  weavertest/internal/deploy/weaver_gen.go
  weavertest/internal/diverge/weaver_gen.go
  weavertest/internal/generate/weaver_gen.go
  weavertest/internal/protos/weaver_gen.go
  weavertest/internal/simple/weaver_gen.go
  weavertest/weaver_gen.go
Labels: tool

#338 Added automarshal-related "weaver generate" checks.
  examples/chat/weaver_gen.go
  examples/onlineboutique/adservice/weaver_gen.go
  examples/onlineboutique/cartservice/weaver_gen.go
  examples/onlineboutique/checkoutservice/weaver_gen.go
  examples/onlineboutique/paymentservice/weaver_gen.go
  examples/onlineboutique/productcatalogservice/weaver_gen.go
  examples/onlineboutique/shippingservice/weaver_gen.go
  examples/onlineboutique/types/money/weaver_gen.go
  examples/onlineboutique/types/weaver_gen.go
  internal/benchmarks/weaver_gen.go
  internal/tool/generate/generator.go
  weavertest/internal/diverge/weaver_gen.go
Labels: tool

#345 Small cleanups of "weaver generate" checks.
  examples/chat/weaver_gen.go
  examples/collatz/weaver_gen.go
  examples/factors/weaver_gen.go
  examples/hello/weaver_gen.go
  examples/onlineboutique/adservice/weaver_gen.go
  examples/onlineboutique/cartservice/weaver_gen.go
  examples/onlineboutique/checkoutservice/weaver_gen.go
  examples/onlineboutique/currencyservice/weaver_gen.go
  examples/onlineboutique/emailservice/weaver_gen.go
  examples/onlineboutique/frontend/weaver_gen.go
  examples/onlineboutique/paymentservice/weaver_gen.go
  examples/onlineboutique/productcatalogservice/weaver_gen.go
  examples/onlineboutique/recommendationservice/weaver_gen.go
  examples/onlineboutique/shippingservice/weaver_gen.go
  examples/onlineboutique/types/money/weaver_gen.go
  examples/onlineboutique/types/weaver_gen.go
  examples/reverser/weaver_gen.go
  internal/benchmarks/weaver_gen.go
  internal/tool/generate/generator.go
  internal/tool/generate/testdata/automarshal_checks.go
  internal/tool/generate/testdata/component_checks.go
  internal/tool/generate/testdata/router_checks.go
  runtime/bin/testprogram/weaver_gen.go
  runtime/codegen/version.go
  runtime/version/testprogram/weaver_gen.go
  weavertest/internal/deploy/weaver_gen.go
  weavertest/internal/diverge/weaver_gen.go
  weavertest/internal/generate/weaver_gen.go
  weavertest/internal/protos/weaver_gen.go
  weavertest/internal/simple/weaver_gen.go
  weavertest/weaver_gen.go
Labels: tool

#351 Change component interface name separator character to slash on Windows.
  internal/tool/generate/generator.go
Labels: author-action-required

#361 Added "weaver single deploy <config>" command.
  godeps.txt
  internal/tool/single/deploy.go
  internal/tool/single/single.go
  website/docs.md
Labels: tool
