Repository ServiceWeaver/weaver, pull requests merged in 2023-03, with the labels that each got.

#172 Cleaned up the multi/weavertest babysitter.
  godeps.txt
  internal/babysitter/babysitter.go
  internal/babysitter/babysitter.pb.go
  internal/babysitter/babysitter.proto
  internal/babysitter/profile.go
  internal/versioned/versioned.go
  weaver.go
Labels: deployer-api

#169 fix multi deploy on Windows
  internal/pipe/inherited.go
  internal/pipe/inherited_windows.go
  internal/pipe/pipe.go
  internal/pipe/pipe_test.go
  runtime/bootstrap.go
  runtime/envelope/envelope.go
  weavertest/multi.go
Labels: author-action-required

#174 Implement the versioned.Versioned type with locks.
  dev/build_and_test
  internal/babysitter/babysitter.go
  internal/versioned/versioned.go
  internal/versioned/versioned_test.go
  website/templates/footer.html
Labels: deployer-api

#173 Implemented weavertest multiprocess deployer.
  godeps.txt
  internal/babysitter/babysitter.go
  remote.go
  runtime/bootstrap.go
  weavertest/deployer.go
  weavertest/internal/deploy/deploy_test.go
  weavertest/internal/simple/simple_test.go
  weavertest/multi.go
Labels: deployer-api

#183 Fixed subtle potential EnvelopeConn deadlock.
  go.mod
  go.sum
  godeps.txt
  internal/envelope/conn/envelope_conn.go
Labels: deployer-api

#191 Made envelopes push components and routing info.
  component.go
  env.go
  godeps.txt
  internal/babysitter/babysitter.go
  internal/envelope/conn/conn_test.go
  internal/envelope/conn/envelope_conn.go
  internal/envelope/conn/trace_readwrite_test.go
  internal/envelope/conn/weavelet_conn.go
  internal/tool/multi/deploy.go
  internal/tool/ssh/impl/babysitter.go
  internal/tool/ssh/impl/manager.go
  internal/tool/ssh/impl/ssh.pb.go
  internal/tool/ssh/impl/ssh.proto
  remote.go
  routing.go
  routing_test.go
  runtime/envelope/envelope.go
  runtime/envelope/envelope_test.go
  runtime/protos/runtime.pb.go
  runtime/protos/runtime.proto
  singleprocess.go
  weavelet.go
  weavertest/deployer.go
Labels: deployer-api

#194 Graceful cleanup of babysitter, envelope, and envelope conn.
  godeps.txt
  internal/babysitter/babysitter.go
  internal/envelope/conn/conn_test.go
  internal/envelope/conn/envelope_conn.go
  internal/metrics/stats.go
  internal/tool/multi/deploy.go
  internal/tool/ssh/impl/babysitter.go
  internal/tool/ssh/impl/manager.go
  runtime/envelope/envelope.go
  runtime/envelope/envelope_test.go
  singleprocess.go
  weavertest/deployer.go
Labels: deployer-api

#199 Merge envelope Serve() and Wait() methods.
  internal/babysitter/babysitter.go
  internal/envelope/conn/conn_test.go
  internal/envelope/conn/envelope_conn.go
  internal/tool/ssh/impl/babysitter.go
  runtime/envelope/envelope.go
  runtime/envelope/envelope_test.go
  weavertest/deployer.go
Labels: deployer-api

#196 Removed unused LoadReportInterval global variable.
  runtime/load.go
Labels: deployer-api

#210 Enable misspell linter and fix typos
  .golangci.yaml
  examples/onlineboutique/productcatalogservice/service.go
  internal/env/env_test.go
  internal/envelope/conn/weavelet_conn.go
  internal/net/call/constantresolver.go
  routing_test.go
Labels: author-action-required

#201 Cleaned up runtime.proto.
  env.go
  godeps.txt
  internal/babysitter/babysitter.go
  internal/envelope/conn/conn_test.go
  internal/envelope/conn/envelope_conn.go
  internal/envelope/conn/trace_readwrite_test.go
  internal/envelope/conn/weavelet_conn.go
  internal/proto/env_test.go
  internal/status/client.go
  internal/status/profile.go
  internal/status/registry_test.go
  internal/status/server.go
  internal/status/status.pb.go
  internal/status/status.proto
  internal/tool/ssh/impl/babysitter.go
  internal/tool/ssh/impl/manager.go
  internal/tool/ssh/impl/ssh.pb.go
  internal/tool/ssh/impl/ssh.proto
  internal/traceio/exporter.go
  load.go
  load_test.go
  remote.go
  runtime/config.go
  runtime/envelope/envelope.go
  runtime/envelope/envelope_test.go
  runtime/profiling/profile.go
  runtime/profiling/profile_test.go
  runtime/protomsg/call_test.go
  runtime/protos/config.pb.go
  runtime/protos/config.proto
  runtime/protos/runtime.pb.go
  runtime/protos/runtime.proto
  runtime/weavelet.go
  singleprocess.go
  weavelet.go
  weaver.go
  weavertest/deployer.go
  weavertest/multi.go
Labels: deployer-api

#214 Tweaked website's page widths and line heights.
  website/assets/css/blog.css
  website/assets/css/common.css
  website/assets/css/docs.css
  website/assets/css/home.css
  website/index.html
  website/templates/blog_entry.html
  website/templates/contact.html
  website/templates/home.html
Labels: website

#195 Added multiple components to step-by-step tutorial
  examples/hello/cache.go
  examples/hello/main.go
  examples/hello/reverser.go
  examples/hello/weaver_gen.go
  godeps.txt
  website/docs.md
Labels: documentation

#215 Added twitter icon to top of website.
  dev/docgen/docgen.go
  website/assets/images/github_icon.svg
  website/assets/images/github_logo.svg
  website/assets/images/twitter_icon.svg
  website/templates/header.html
Labels: website
